
<form #creaEmpresa="ngForm" (ngSubmit)="onSubmit()">
    <label for="rut">Rut de la empresa:</label>
    <input type="text" id="rut" name="rut" #rut="ngModel" [(ngModel)]="nuevaEmpresa.rut" required />
    <br>
    <label for="nombre">Nombre de la empresa:</label>
    <input type="text" id="nombre" name="nombre" #nombre="ngModel" [(ngModel)]="nuevaEmpresa.nombre" required />
    <br>
    <label for="direccion">Dirección de la empresa:</label>
    <input type="text" id="direccion" name="direccion" #direccion="ngModel" [(ngModel)]="nuevaEmpresa.direccion" required />
    <br>
    <label for="telefono">Teléfono de la empresa:</label>
    <input type="text" id="telefono" name="telefono" #telefono="ngModel" [(ngModel)]="nuevaEmpresa.telefono" required />
    <br>
    <input type="submit" value="Registrar Empresa">
</form>

<div *ngFor="let empresa of empresas">
    <p>ID: {{empresa.id}}</p>
    <p>Rut: {{empresa.rut}}</p>
    <p>Nombre: {{empresa.nombre}}</p>
    <p>Direccion: {{empresa.direccion}}</p>
    <p>Télefono: {{empresa.telefono}}</p>
    <hr>
</div>
