
<div class="container" [class.activeForm]="blur">
    <div class="popup" [style.display]="blur ? 'block' : 'none'">
        <app-empleadoform (myOutput) ="GetNuevoEmpleado($event)"></app-empleadoform>
    </div>
</div>

<div>
    <button (click)="onClick()">Crear Empleado</button>

    <table>
        <caption>Listado de Empleados</caption>
        <thead>
            <tr class="thead">
                <th scope="col">ID</th>
                <th scope="col">RUT</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">DETALLES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let empleado of empleados">
                <td scope="row" data-label="ID">{{empleado.id}}</td>
                <td data-label="RUT">{{empleado.rut}}</td>
                <td data-label="NOMBRE">{{empleado.nombre}}</td>
                <td data-label="DETALLES"><a class="btn" [routerLink]="['/empleado/', empleado.id]">Detalles</a></td>
            </tr>
        </tbody>
    </table>
</div>
