
<form #creaEmpresa="ngForm" (ngSubmit)="onSubmit()">
    <label for="rut">Rut del empleado:</label>
    <input type="text" id="rut" name="rut" #rut="ngModel" [(ngModel)]="nuevoEmpleado.rut" required />
    <br>
    <label for="nombre">Nombre del empleado:</label>
    <input type="text" id="nombre" name="nombre" #nombre="ngModel" [(ngModel)]="nuevoEmpleado.nombre" required />
    <br>
    <label for="email">Correo del empleado:</label>
    <input type="text" id="email" name="email" #email="ngModel" [(ngModel)]="nuevoEmpleado.email" required />
    <br>
    <label for="empresa">Empresa del empleado:</label>
    <select id="empresa" name="empresa" #empresa="ngModel" [(ngModel)]="nuevoEmpleado.empresa" required>
        <option *ngFor="let empresa of empresas" value="{{empresa.id}}">{{empresa.nombre}} | {{empresa.rut}}</option>
    </select>
    <br>
    <input type="submit" value="Registrar Empleado">
</form>

<div *ngFor="let empleado of empleados">
    <p>ID: {{empleado.id}}</p>
    <p>Rut: {{empleado.rut}}</p>
    <p>Nombre: {{empleado.nombre}}</p>
    <hr>
</div>
