<nav>
    <ul>
        <li>
            <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
                Inicio
            </a>
        </li>
        <li>
            <a routerLink="/empresas" routerLinkActive="active" ariaCurrentWhenActive="page">
                Mis Empresas
            </a>
        </li>
        <li>
            <a routerLink="/empleados" routerLinkActive="active" ariaCurrentWhenActive="page">
                Mis Empleados
            </a>
        </li>
    </ul>
</nav>
